<b>Давай установим твою ежедневную цель</b><br>
<br>
Я могу помочь тебе отслеживать калории или БЖУ или все вместе<br>
<br>
Просто напиши чего ты хочешь достигнуть и я сделаю остальное<br>
<br>
<b>Ты можешь написать что-то вроде:</b><br>
<br>
✏️ <i>40г белков</i><br>
<br>
<b>Или просто дневные калории:</b><br>
<br>
✏️ <i>1500г  калорий</i><br>
<br>
<b>Или БЖУ по типу:</b><br>
<br>
✏️ <i>20% жиров, 35% белков, 45% углеводов</i><br>
<br>
<b>Или даже:</b><br>
<br>
✏️ <i>Я 25-летний парень, 178см рост, голубые глаза, 80кг, и я хочу накачать мышцы</i>